.p-section {
    & + & {
        margin-top: 6rem;
    }

    &__body {
        & > p,
        & > ul,
        & > ol,
        & > dl,
        & > pre {
            &:not(:first-child) {
                margin-top: $space-elements-gap;
            }
        }
    }

    &__sub {
        padding-left: 2rem;
        margin-top: 4rem;
    }
}
