/**
 * FLOAT
 */
.u-clearfix::after {
    clear: both;
    content: "";
    display: block;
}

@include floatStyle;

@media screen and (min-width: $sp-width-breakpoint + 1px) {
    @include floatStyle("-pc");
}

@include mq_sp {
    @include floatStyle("-sp");
}
