.u-layout {
    margin: 0 auto;
    max-width: $pc-layout-width + px;
    padding: 0 $pc-window-gap;

    @include mq_sp {
        margin: 0 $sp-window-gap;
        padding: 0;
        width: auto;

        &--nomargin {
            margin: 0;
            padding: 0;
        }

        &--padding {
            margin: 0;
            padding: 0 $sp-window-gap;
        }
    }
}

@include mq_pc {
    .u-pc-layout {
        margin: 0 auto;
        max-width: $pc-layout-width + px;
        padding: 0 $pc-window-gap;
    }
}

@include mq_sp {
    .u-sp-layout {
        margin: 0 $sp-window-gap;
        max-width: none;

        &--nomargin {
            margin: 0;
        }

        &--padding {
            margin: 0;
            padding: 0 $sp-window-gap;
        }
    }
}
