/**
 * Spaces (margin, padding)
 */
$space: 0;
$max: 10;
$step: 1;

@while ($space <= $max) {
    @include spaceStyleRem($space);
    $space: $space + $step;
}

@include mq_pc {
    $space: 0;
    $max: 10;
    $step: 1;

    @while ($space <= $max) {
        @include spaceStyleRem($space, '-pc');
        $space: $space + $step;
    }
}

@include mq_sp {
    $space: 0;
    $max: 10;
    $step: 1;

    @while ($space <= $max) {
        @include spaceStyleRem($space, '-sp');
        $space: $space + $step;
    }
}
