{% extends 'template/siteframe.twig' %}

{% block title %}CSS methodologies | {{ site.name }}{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="c-visual">
    <div class="u-layout">
        <div class="c-visual__text">
            <h1 class="c-visual__title">CSS methodologies</h1>
        </div>
    </div>
</div>

<section class="p-section">
    <div class="u-layout">
        <h2 class="c-headline2"><a href="#flocss" id="flocss" class="c-position-anchor">FLOCSS</a></h2>

        <div class="p-section__body">
          <p>Basically, We'll follow <a href="https://github.com/hiloki/flocss/blob/master/README_eng.md" target="_blank">"FLOCSS"</a> CSS methodologies, and we have the enhanced rules. This document is included this rules instruction also.</p>
        </div>
    </div>
</section>

<section class="p-section">
    <div class="u-layout">
        <h2 class="c-headline2"><a href="#foundation" id="foundation" class="c-position-anchor">Foundation</a></h2>

        <div class="p-section__body">
            <p><strong>Foundation</strong> should be written the basic styles. <strong class="c-important is-primary">You can write the tag selector style into Foundation only</strong>.</p>
            <dl>
                <dt>Target elements</dt>
                <dd>
                    <ul>
                        <li>Tag elements</li>
                    </ul>
                </dd>
                <dt>Target files</dt>
                <dd>
                    <ul>
                        <li>scss/foundation/*.scss</li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</section>

<section class="p-section">
    <div class="u-layout">
        <h2 class="c-headline2"><a href="#layout" id="layout" class="c-position-anchor">Layout</a></h2>

        <div class="p-section__body">
            <p><strong>Layout</strong> should be witten the large common containers such as the header area, sidebar and footer.</p>
            <dl>
                <dt>Target elements</dt>
                <dd>
                    <ul>
                        <li>Header</li>
                        <li>Footer</li>
                        <li>Sidebar</li>
                    </ul>
                </dd>
                <dt>Target files</dt>
                <dd>
                    <ul>
                        <li>scss/layout/*.scss</li>
                    </ul>
                </dd>
                <dt>Example</dt>
                <dd>
                    <pre class="language-scss"><code>// scss/layout/_header.scss
.l-header {
    &__logo {
        // Style
    }
}

// scss/layout/_footer.scss
.l-footer {
    &__copyright {
        // Style
    }
}</code></pre>
                </dd>
            </dl>

            <div class="c-alert is-info">
                <h3 class="c-alert__head">Remarks</h3>

                <div class="c-alert__body">
                    <p>Separate scss files by each root elements. (e.g. .l-header -> _header.scss, .l-footer -> _footer.scss)</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-section">
    <div class="u-layout">
        <h2 class="c-headline2"><a href="#object" id="object" class="c-position-anchor">Object</a></h2>

        <div class="p-section__body">

            <div class="p-section__sub">
                <h3 class="c-headline3"><a href="#object-component" id="object-component" class="c-position-anchor">Component</a></h3>

                <div class="p-section__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut autem porro impedit laborum sed hic non facere, animi ea nulla rerum voluptatem. Laboriosam cum iste exercitationem corrupti! Dicta, excepturi sit?</p>
                </div>
            </div>

            <div class="p-section__sub">
                <h3 class="c-headline3"><a href="#object-project" id="object-project" class="c-position-anchor">Project</a></h3>

                <div class="p-section__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut autem porro impedit laborum sed hic non facere, animi ea nulla rerum voluptatem. Laboriosam cum iste exercitationem corrupti! Dicta, excepturi sit?</p>
                </div>
            </div>

            <div class="p-section__sub">
                <h3 class="c-headline3"><a href="#object-utility" id="object-utility" class="c-position-anchor">Utility</a></h3>

                <div class="p-section__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut autem porro impedit laborum sed hic non facere, animi ea nulla rerum voluptatem. Laboriosam cum iste exercitationem corrupti! Dicta, excepturi sit?</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="p-section">
    <div class="u-layout">
        <h2 class="c-headline2"><a href="#view" id="view" class="c-position-anchor">View</a></h2>

        <div class="p-section__body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat quam blanditiis. Molestias sit ex, fuga atque consequatur minima facere ratione totam blanditiis quod deleniti, exercitationem non! Id, ad eos?</p>
        </div>
    </div>
</section>

{% endblock %}
