{% extends 'template/siteframe.twig' %}

{% block title %}Images | {{ site.name }}{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="c-visual">
    <div class="u-layout">
        <div class="c-visual__text">
            <h1 class="c-visual__title">Images</h1>
        </div>
    </div>
</div>

<section class="p-section">
    <div class="u-layout">
        <h2 class="c-headline2"><a href="#naming" id="naming" class="c-position-anchor">File naming rules</a></h2>

        <div class="p-section__body">
            <div class="p-section__sub">
                <h3 class="c-headline3"><a href="#naming-basic" id="naming-basic" class="c-position-anchor">Basically rules</a></h3>

                <div class="p-section__body">
                    <ul>
                        <li>You should be lower case, unless you have special reason.</li>
                        <li>You must not use full width character.</li>
                        <li>When you partition filename by words, you should use <strong class="c-important is-primary">"-"</strong>, not "_".</li>
                        <li>You must not use words that associated temporary meanings.
                            <ul>
                                <li>e.g. test, dummy, bu, backup, 20160101, Copy of ~, and so on.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="p-section__sub">
                <h3 class="c-headline3"><a href="#naming-detail" id="naming-detail" class="c-position-anchor">Detail rules</a></h3>

                <div class="p-section__body">
                    <p>You should name images like below. and, you should not name serial number of whole images.</p>

                    <dl>
                        <dt>for button images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">btn-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. btn-section01-inquiry.png</span></li>
                            </ul>
                        </dd>
                        <dt>for background images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">bg-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. bg-contact-helper.png</span></li>
                            </ul>
                        </dd>
                        <dt>for banner images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">ban-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. ban-footer-estate.png</span></li>
                            </ul>
                        </dd>
                        <dt>for list images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">li-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. li-side-blockquote.png</span></li>
                            </ul>
                        </dd>
                        <dt>for headline images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">h-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. h-simulation.png</span></li>
                            </ul>
                        </dd>
                        <dt>for navigation images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">nav-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. nav-side-guide.png</span></li>
                            </ul>
                        </dd>
                        <dt>for icon images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">icon-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. icon-footer-mark.png</span></li>
                            </ul>
                        </dd>
                        <dt>for thumbnail images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">thum-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. thum-news-photo01.png</span></li>
                            </ul>
                        </dd>
                        <dt>for line images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">line-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. line-breadcrumbs-separator.png</span></li>
                            </ul>
                        </dd>
                        <dt>for text images (exclude title)</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">txt-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. txt-simulation-lead.png</span></li>
                            </ul>
                        </dd>
                        <dt>for the others images</dt>
                        <dd>
                            <ul>
                                <li><span class="c-important is-primary">img-</span>(place)-(purpose).(extension)</li>
                                <li><span class="u-color-gray">e.g. img-news-daily.png</span></li>
                            </ul>
                        </dd>
                    </dl>

                    <div class="c-alert is-warning">
                        <h4 class="c-alert__head">Check</h4>

                        <div class="c-alert__body">
                            <p>If each page has the same purpose images, you should make it as the same name.</p>
                            <p>e.g. <span class="u-font-weight-bold">Background image of main visual</span><br>
                            Don't make it "bg-visual-about.jpg", "bg-visual-company.jpg". You should make it "bg-visual.jpg" for all the pages.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-section">
    <div class="u-layout">
        <h2 class="c-headline2"><a href="#format" id="format" class="c-position-anchor">Export format</a></h2>

        <div class="p-section__body">
            <p>We need to think about the loading speed, and the image's quality. so, we need to think what format is the best for each image.</p>

            <div class="p-section__sub">
                <h3 class="c-headline3"><a href="#format-feature" id="format-feature" class="c-position-anchor">Format feature</a></h3>

                <div class="p-section__body">
                    <dl>
                        <dt>JPEG (.jpg)</dt>
                        <dd>
                            <ul>
                                <li>JPEG format is using a lossy compression method, and not support transparency color. <strong>If the image has a lot of colors, JPG compression makes it smaller than PNG compression</strong>.</li>
                            </ul>
                        </dd>
                        <dt>PNG (.png)</dt>
                        <dd>
                            <ul>
                                <li>PNG format is using lossless compression method, and support transparency color. <strong>If the image has not so many colors, PNG compression make it smaller than JPG compression</strong>.</li>
                                <li>Recently, PNG format supported animation also (APNG), but several browsers are not supporting APNG format yet.</li>
                                <li>PNG format has 3 kinds of format.
                                    <ul>
                                        <li>PNG32 : Full-color with transparency color</li>
                                        <li>PNG24 : Full-color without transparency color</li>
                                        <li>PNG8 : Maximum 256 colors includes transparency color</li>
                                    </ul>
                                </li>
                            </ul>
                        </dd>
                        <dt>GIF (.gif)</dt>
                        <dd>
                            <ul>
                                <li>Almost same with PNG8 format. GIF is using lossless compression method, and maximum 256 colors includes transparency color.</li>
                                <li>And, GIF format supports animation.</li>
                                <li>In many cases, PNG format is smaller than GIF format. so, we don't use GIF format except for needing animation</li>
                            </ul>
                        </dd>
                        <dt>SVG (.svg)</dt>
                        <dd></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
