{% extends 'template/siteframe.twig' %}

{% block title %}Introduction{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="c-visual">
    <div class="u-layout">
        <div class="c-visual__text">
            <h1 class="c-visual__title">Page not found</h1>
        </div>
    </div>
</div>

<section class="p-section">
    <div class="u-layout">
        <h2 class="c-headline2">Oops...</h2>
        <p>The page you requested could not be found.</p>
        <p><a href="{{ base }}/">Back to top</a></p>
    </div>
</section>
{% endblock %}
