.c-alert {
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 0.5rem;

    &:not(:first-child) {
        margin-top: $space-elements-gap;
    }

    &__head {
        font-size: 2rem;
    }

    &__body {
        & > p,
        & > ul,
        & > ol,
        & > dl,
        & > pre {
            &:not(:first-child) {
                margin-top: $space-elements-gap / 4;
            }
        }
    }

    &.is-primary {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }

    &.is-secondary {
        color: #383d41;
        background-color: #e2e3e5;
        border-color: #d6d8db;
    }

    &.is-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    &.is-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    &.is-warning {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }

    &.is-info {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }

    &.is-light {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;
    }

    &.is-dark {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;
    }
}
