/**
 * News Label
 */
.c-label {
    background: #666;
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;

    &--info {
        background: $label-info-color;
    }

    &--recruit {
        background: $label-recruit-color;
    }
}
