.c-topic-path {
    margin-bottom: 40px;

    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    &__col {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &::after {
            content: '>';
            margin: 0 0.5em;
        }

        &:last-child {
            &::after {
                content: none;
            }
        }

        & > a {
            color: inherit;
        }

        & > span {
            font-weight: bold;
        }
    }
}

@include mq_sp {
    .c-topic-path {
        margin-bottom: 3rem;
    }
}
