.c-visual {
    background: $color-lh-yellow;
    margin-bottom: 5rem;
    text-align: center;

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24rem;
    }

    &__title {
        font-weight: 900;
        font-size: 4.6rem;
        line-height: 1.4;

        @include mq_sp {
            font-size: 3.6rem;
        }
    }
}
