// Font
// stylelint-disable-next-line value-keyword-case
$sans-font: 'Lato', sans-serif;
// stylelint-disable-next-line value-keyword-case
$serif-font: "Noto Serif JP", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
$source-font: 'Source Code Pro', monospace;
$default-font: $sans-font;

// For SmartPhone
$sp-width: 375;
$sp-width-breakpoint: $sp-width * 2;
$sp-window-gap: 1.5rem;
$sp-grid-gap: 0.5rem;
$sp-grid-steps: 12;

// For PC
$pc-layout-width: 1000;
$pc-window-gap: 4rem;
$pc-grid-gap: 2rem;
$pc-grid-steps: 12;
$pc-side-width: 220px;

// Label
$label-info-color: #1183c0;
$label-recruit-color: #79c842;

// Spaces
$space-elements-gap: 1.4em;

// Colors
$color-lh-yellow: #fff000;
$color-lh-red: #e3007f;
$color-lh-blue: #009fe8;
