/**
 * FOOTER
 */
.l-footer {
    margin-top: 80px;

    &__pagetop {
        &__button {
            background: #ddd;
            color: inherit;
            display: block;
            padding: 15px 0;
            text-align: center;
            text-decoration: none;

            &:hover {
                background: #eee;
            }
        }
    }

    &__inner {
        background: #eee;
        padding: 40px 0 20px;
    }

    &__content {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 320px;

        &__head {
            margin-bottom: 15px;
        }

        &__button {
            background: #888;
            color: #fff;
            display: block;
            font-size: 1.8rem;
            font-weight: normal;
            height: 40px;
            line-height: 40px;
            text-align: center;
            text-decoration: none;
            width: 120px;

            &:hover {
                background: #666;
            }
        }
    }

    &__sitemap {
        width: 600px;

        a {
            color: #333;
        }

        &__col {
            width: 33.33%;
        }

        &__menu {
            list-style: none;
            margin-bottom: 20px;

            & > a::before {
                content: "■";
            }

            & > ul > li {
                list-style: none;

                & > a::before {
                    content: "・";
                }
            }
        }
    }

    &__copyright {
        font-size: 1.2rem;
        line-height: 40px;
        text-align: center;
    }
}

@include mq_sp {
    .l-footer {
        margin-top: 4rem;

        &__inner {
            padding: 2rem 0;
        }

        &__content {
            display: block;
        }

        &__info {
            float: none;
            width: auto;
        }

        &__copyright {
            line-height: inherit;
            padding: 1rem 0;
        }
    }
}
